body {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Avenir Next Cyr";
}

.hdr {
  padding: 40px 135px;
  background-color: #f4f6f7;
}

.hdr__top {
  display: flex;
  justify-content: space-between;
}

.logo {
  max-width: 130px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav > li {
  list-style: none;
  margin-left: 50px;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: black;
}

.hdr__btm {
  margin: 135px 0 178px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top__text {
  max-width: 470px;
}

.pre-title {
  color: #2557ab;
  font-weight: 500;
}

h1 {
  font-size: 46px;
  margin: 5px 0 10px;
}

.btn {
  font-weight: 600;
  font-size: 17px;
  color: #fff;
  cursor: pointer;
  transition: 0.3s linear;
  border: none;
}

.get__now {
  background-color: #ff7f57;
  padding: 19px 42px;
}

.orange__btn:hover {
  background-color: #fff;
  color: #ff7f57;
  box-shadow: 2px 2px #ffdbd1, 4px 4px 4px 4px #ff7f57;
  top: -4px;
  left: -4px;
  transform: translate(10px, 20px);
}

img {
  width: 100%;
  height: auto;
}

.icon {
  width: 64px;
  height: 64px;
}

.services {
  max-width: 1170px;
  margin: 120px 135px 100px;
}

.srvc__title {
  text-align: center;
}

.srvc__h2 {
  font-size: 38px;
  font-weight: 400;
}

.container {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.block {
  width: 370px;
}

.benefits {
  background-color: #f4f6f7;
  padding: 60px 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h5 {
  font-size: 46px;
  font-weight: 400;
  margin: 0 auto;
}

.plus {
  color: #ff7f57;
}

.about__us {
  margin: 100px 235px 200px;
  max-width: 970px;
}

.about__title {
  text-align: center;
}

.h3 {
  font-size: 38px;
  font-weight: 700;
  margin: 0 auto;
}

.about__text {
  display: flex;
  justify-content: space-between;
}

.left_block {
  width: 38%;
}

.cursive {
  font-style: italic;
  font-size: 20px;
}

.rght_block {
  width: 59%;
}

.logo__carousel {
  display: flex;
  justify-content: space-between;
  margin: 60px auto 0;
}

.hello-fresh-logo {
  max-width: 66px;
}

.logo-trivago {
  max-width: 126px;
}

.logo-LA-times {
  max-width: 271px;
}

.logo-oracle {
  max-width: 162px;
}

.logo-target {
  max-width: 52px;
}

.info__block {
  max-width: 1170px;
  margin: 0 135px;
  display: flex;
}

.info__img {
  max-width: 600px;
}

.info__text-block {
  width: 48%;
}

.info__h2 {
  font-size: 38px;
  width: 68%;
}

.info__text {
  width: 82%;
}

.info__list {
  padding-left: 0;
}

.info__list > li {
  font-size: 15px;
  font-weight: 500;
  list-style-type: none;
  line-height: 27px;
  width: 82%;
}

.info__list > li::before {
  content: url(../img/icon-tick.svg);
  padding-right: 25px;
}

.appeal {
  background-color: #ff7f57;
  color: #fff;
  text-align: center;
  padding: 100px 235px;
}

.app__pre-title {
  font-weight: 500;
}

.app__h2 {
  font-size: 46px;
  margin: 5px auto 10px;
}

.app__text {
  width: 54%;
  margin: 16px auto;
}

.start__btn {
  background-color: #2557ab;
  padding: 12px 102px;
}

.start__btn:hover {
  background-color: #fff;
  color: #2557ab;
  box-shadow: 2px 2px #f4f5f8, 4px 4px 4px 4px #2557ab;
  top: -4px;
  left: -4px;
  transform: translate(10px, 20px);
}

.ftr {
  background-color: #11364e;
  color: #fff;
}

.contact_us {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  padding: 140px 535px 140px;
}

.cnt__h3 {
  font-size: 38px;
  font-weight: 400;
}

.submit__btn {
  background-color: #ff7f57;
  padding: 19px 100px;
}
.contact__form {
  &>div {
    margin-bottom: 40px;
  }
}

#message {
  height: 120px;
  overflow: auto;
  background-color: inherit;
  color: #ffffff;
  min-width: 370px;
  margin-top: 10px;
}

#email,
#name {
  border: none;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  background-color: #11364e;
  min-width: 370px;
  line-height: 22px;
  margin-top: 10px;
}

label {
  font-size: 13px;
  font-weight: 500;
}

.copyright {
  background-color: #13253A;
  text-align: center;
  position: relative;
  height: 47px;
  .cprt {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

}